*{
    background-color: #2D3250;
    font-family: "playfair-display", serif;
    font-weight: 400;
    font-style: normal;
}

.btn{
    background-color: #FAB17C;
}

.logo{
    position: absolute;
    top: 20mm;  
    left: 20mm; 
    width: 40mm; 
    height: auto;
}

div.gallery:hover {
    border: 1px solid #777;
  }